<style>
  th { border-bottom: white solid thin }
  *:link {
    color: inherit;
    text-decoration: none;
  }
  code {
    font-family: 'Ricty Diminished Regular', 'Inconsolata', 'monospace';
  }
  .slide {
    background-color: rgb(181,181,181);
    background-blend-mode: multiply;
    color: white;
  }
  .slide-0 {
    background-image: url(unsplash/patrick-mueller-J1aXF4Fe4j0-unsplash.jpg);
    background-size: cover;
  }
  .slide-0 .slide-content h1 {
    background-image: url(logo2.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  .slide-1 {
    background-image: url(unsplash/patrick-mueller-J1aXF4Fe4j0-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .slide-2
, .slide-55
, .slide-56
  {
    background-image: url(unsplash/jordan-ladikos-AzXvM3IoYMI-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .slide-3
, .slide-4
, .slide-5
, .slide-6
, .slide-7
, .slide-8
, .slide-9
, .slide-10
, .slide-11
, .slide-12
, .slide-13
, .slide-14
, .slide-15
, .slide-16
, .slide-17
, .slide-18
, .slide-19
, .slide-20
, .slide-21
, .slide-22
  {
    background-image: url(unsplash/michael-bourgault-aHetdmuNoO4-unsplash.jpg);
    background-color: rgb(81,81,81);
    background-size: cover;
    background-position: center;
  }
  .slide-23
, .slide-24
, .slide-25
, .slide-26
, .slide-27
, .slide-28
, .slide-29
, .slide-30
, .slide-31
, .slide-32
, .slide-33
, .slide-34
, .slide-35
, .slide-36
, .slide-37
, .slide-38
, .slide-39
, .slide-40
, .slide-41
, .slide-42
, .slide-43
, .slide-44
, .slide-45
, .slide-46
, .slide-47
, .slide-48
, .slide-49
, .slide-50
, .slide-51
, .slide-52
, .slide-53
, .slide-54
  {
    background-image: url(unsplash/johan-arthursson-eVQxIh6Psh0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(120,120,120);
  }
</style>
