<video id='video' autoplay playsinline />
<javascript>
  ls = await navigator.mediaDevices.getUserMedia({video:true})
  document.getElementById('video').srcObject = ls
</javascript>

<javascript>
  sleep = (timeout) => {
    return new Promise( (accept) => {
      setTimeout(accept,timeout)
    })
  }

  pcA = new RTCPeerConnection({})
  pcA.onicecandidate = async ({candidate}) => {
    if(!candidate) return
    candidate = JSON.stringify(candidate)
    // A → candidate → B
    console.log('A → candidate → B',candidate)
    await sleep(200)
    candidate = JSON.parse(candidate)
    candidate = new RTCIceCandidate(candidate)
    pcB.addIceCandidate(candidate)
  }

  pcB = new RTCPeerConnection({})
  pcB.onicecandidate = async ({candidate}) => {
    if(!candidate) return
    candidate = JSON.stringify(candidate)
    // B → candidate → A
    console.log('B → candidate → A',candidate)
    await sleep(200)
    candidate = JSON.parse(candidate)
    candidate = new RTCIceCandidate(candidate)
    pcA.addIceCandidate(candidate)
  }

  dcA = pcA.createDataChannel('chat')
  dcB = pcB.createDataChannel('chat')

  dcA.addEventListener('open', () => console.log('dcA open'))
  dcB.addEventListener('open', () => console.log('dcB open'))
  dcA.addEventListener('close', () => console.log('dcA close'))
  dcB.addEventListener('close', () => console.log('dcB close'))
  dcA.addEventListener('error', (error) => console.log('dcA error',error))
  dcB.addEventListener('error', (error) => console.log('dcB error',error))
  dcA.addEventListener('message', ({data}) => console.log('dcA received',data))
  dcB.addEventListener('message', ({data}) => console.log('dcB received',data))
  dcA.addEventListener('open', () => {
    dcA.send('Hello world!')
    console.log('sent')
  })

  console.log('A creates offer')
  offer = await pcA.createOffer()
  console.log('A uses offer')
  await pcA.setLocalDescription(offer)

  offer = JSON.stringify(offer)
  console.log('A → offer → B')
  await sleep(200)
  offer = JSON.parse(offer)
  offer = new RTCSessionDescription(offer)
  await pcB.setRemoteDescription(offer)

  console.log('B creates answer')
  answer = await pcB.createAnswer()
  console.log('B uses answer')
  await pcB.setLocalDescription(answer)

  console.log('B → answer → A')
  answer = JSON.stringify(answer)
  await sleep(200)
  answer = JSON.parse(answer)
  answer = new RTCSessionDescription(answer)
  await pcA.setRemoteDescription(answer)


</javascript>
